
body {
   margin: 0;
   padding: 20px;
   background: black;
   color: white;
}

.hex-selected {
   background: white;
   color: black;
}

.hex-layout {
   font-family: monospace;
   display: inline-block;
   vertical-align: top;
}

.hex-layout .hex-line .byte_free {
   padding: 2px 0 2px 8px;
}

.hex-layout .hex-line .byte {
   padding: 2px 0 2px 8px;
}

/* Offsets */

.hex-layout .hex-field {
   border-right: 1px solid white;
   /* padding: 2px 2px 2px 2px; */
   margin: 0 -1px 0 0;
}

.hex-layout .hex-field:last-child {
   border-right: none;
   margin: 0;
}

/* Field Labels */

.hex-struct-title {
   margin: 0 10px 10px 0;
   padding: 0;
   float: left;
}

.hex-struct-sz {
   float: right;
}

.hex-fields {
   font-size: 0.7em;
   display: inline-block;
   margin: 0 10px;
   vertical-align: top;
}

.hex-fields .hex-struct {
   margin-bottom: 5px;
   padding: 5px;
}

.hex-fields .spacer {
   clear: both;
}

.hex-fields .hex-label {
   font-weight: bold;
   margin-right: 5px;
   float: left;
}

.hex-fields .hex-sz {
   margin-right: 10px;
   float: left;
}

.hex-fields .hex-contents {
   float: right;
}

/* Specific Structs */

.hex-struct-ico-head,
.hex-struct-alt-map,
.hex-struct-file-head,
.hex-struct-bmp-file {
   background: navy;
}

.hex-struct-ico-entry, .hex-struct-city-name, .hex-struct-track {
   background: darkgreen;
}

.hex-struct-bmp-info, .hex-struct-xbit, .hex-struct-delta-time {
   background: saddlebrown;
}

.hex-struct-bmp-palette, .hex-struct-event, .hex-struct-poly {
   background: darkred;
}

.hex-struct-bmp-pixels, .hex-struct-meta-event, .hex-struct-layr {
   background: darkviolet;
}

.hex-struct-running-event, .hex-struct-posn {
   background: darkslateblue;
}

